# 忽略.class的所有文件
# *.class

# 忽略名称中末尾为ignore的文件夹
*ignore/

# 忽略名称中间包含ignore的文件夹
*ignore*/

# 忽略指定文件
# HelloWrold.class
AStyle.exe
*.orig
*/result.txt
xy.txt

# 忽略指定文件夹
build/
*/bin/
*/__pycache__/
.vs/
.vscode/
*/x64/
*/Debug/
